/*
Name: Aiden Marsh
Date: 06/20/2023
File: TWSB
*/
/* CSS Reset */
body, header, nav, main, footer, img, h1, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-color: #000000;
    display: block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('https://images.pexels.com/photos/8956453/pexels-photo-8956453.jpeg');
    background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    height: 400px;
    width: 2000px;
    top: 0%;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

header {
    background-image: url('https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    position: relative;
}




/* Style rules for navigation area */

nav {
    background-color: #2a1f14;
    background-image: url('https://i.ibb.co/kKtsGdY/header-img.png');
    position: inherit;
    background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #f6eee4;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    padding-left: 2em;
    text-decoration: none;
}

/* Style rules for main content */

main {
    padding: 2%;
    font-family: Verdana, Airla, sans-serif;
    padding-bottom: 6%;
    text-align: center;
}

main p {
    font-size: 1.25em;
    padding: 2%;
}

main h3 {
    padding-top: 2%;
}

main ul {
    list-style-type: none;
}

/* main classes and IDs */

.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}
.shopimg {
    
    height: auto;
    max-width: 750px;
    position: relative;
}

.shoplist {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .shoplist li {
    display: inline-block;
    position: relative;
    margin-right: 80px; /*adjust the spacing between images */
  }

  .level1,
  .level2,
  .level3 {
    width: 300px;
    height: 300px;
  }

  .feature-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 3px;
    word-spacing: 6px;
  }

  .feature-list li {
    margin-bottom: 10px;
  }

  .feature-list li:before {
    content: "•";
    color: #ff7f50;
    display: inline-block;
    width: 2em;
    margin-left: -1em;
  }

  /* skeuomorphic buttons */

  .payment-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsla(135, 84%, 54%, 0.7);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 2px solid #0c960c;
    border-radius: 5px;
    color: #c21616;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
    background: linear-gradient(#1D1, #0ebc0e);
    text-shadow: 1px -1px #815d5d;
    letter-spacing: 1px;
  }

  .payment-link:hover {
    background-color: hsl(135, 84%, 54%);
    color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
  background: #0ebc0e;
  background: linear-gradient(#0ebc0e, #0c960c);
  border-color: #064f06;
  }

  .payment-link:active {
    margin-top: 2px;
    margin-bottom: -2px;
    box-shadow: 0px 2px 2px rgba(63, 63, 63, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
    background: #0c960c;
    background: linear-gradient(#0c960c, #0ebc0e);
  }

  .payment-text {
    position: absolute;
    top: 5px; /* Adjust the vertical positioning */
    left: 50%;
    transform: translateX(-50%);
    color: rgba(245, 238, 238, 0.986);
    font-weight: bold;
  }


.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

#selector {
    text-align: center;
}

#firstp, #secondp {
    text-align: center;
    font-weight: bold;
    color:#cfcbcb;
    text-decoration: none;
}

#abouttxt {
    text-align: center;
    text-decoration: none;
    
}

#aboutli {
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

#shoptxt {
    text-align: center;
    text-decoration: none;
}

#instructionstxt {
    text-align: center;
    text-decoration: none;
    
}

.indexmain {
    text-decoration: none;
    color: rgb(62, 207, 127);
    padding: 1%;
    border-color: red 1px;
    border: solid;
    display: inline;
    background-color: rgb(31, 29, 29);
    margin-left: 30px;
    
}

.indexmain2 {
    text-decoration: none;
    color: rgb(221, 57, 57);
    padding: 1%;
    border-color: red 1px;
    border: solid;
    display: inline;
    background-color: rgb(31, 29, 29);
    margin-left: 30px;
    
}

.indexmain3 {
    text-decoration: none;
    color: rgb(207, 197, 48);
    padding: 1%;
    border-color: red 1px;
    border: solid;
    display: inline;
    background-color: rgb(31, 29, 29);
    margin-left: 30px;

    
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 1em;
    background-color: #2e3b46;
    padding: 1% 0% 1% 0%;
    color: whitesmoke;
    text-decoration: relative;
    bottom: 0%;
    position: fixed;
    width: 100%; 
}

footer a {
    color: #f3e6d8;
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
    color: whitesmoke;
}

/* text shadow */

.extruded {
    color: #e5e9ec;
    font-family: proxima-nova-1, proxima-nova-2, 'Helvetica Neue', Arial, sans-serif; /* the original site doesn't use the @font-face attribute */
    font-size: auto;
    font-weight: bold;
    text-shadow: #000 1px 1px, #000 2px 2px, #000 3px 3px;
    position: relative;
    -moz-transition: all 0.3s ease-out; /* FF3.7+ */
       -o-transition: all 0.3s ease-out; /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out; /* Saf3.2+, Chrome */
          transition: all 0.3s ease-out;
  }
  
  .extruded-hover {
    color: #e63333b9;
    text-shadow: rgb(39, 43, 49) 1px 1px, rgb(21, 22, 24) 2px 2px, rgb(16, 17, 19) 3px 3px, rgb(32, 32, 32) 4px 4px, rgb(37, 37, 37) 5px 5px, rgb(56, 56, 58) 6px 6px;
    left: -6px;
    top: -6px;
  }

/* testing*/

.animate-charcter {
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #2d5715 0%,
    #1c9160 29%,
    #e2326d 67%,
    #e4a42c 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 140px;
    
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

